<mat-card class="login-card">
    <mat-card-header>
        <mat-card-title>Đăng Nhập</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" required>
                <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email là bắt buộc</mat-error>
                <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Email không hợp lệ</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Mật khẩu</mat-label>
                <input matInput formControlName="password" type="password" required>
                <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Mật khẩu là bắt buộc</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Đăng nhập</button>
        </form>
    </mat-card-content>
</mat-card>